{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Rnak</title>
    <meta name="description" content="twitterでの相対的に順位を計算するアプリです">
    <meta name="keywords" content="twitter, API, ランキング">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main id="main_top">
        <h1 class="icon_title"><img src="{% static "app/img/icon_title.png" %}"></h1>
        <p class="sub_title">あなたの順位がわかる</p>
        <h1 class="input_title">あなたのフォロー/フォロワーの数は多すぎます！今の段階では残念ながら処理できません🙇‍♂️</h1>
        <h1 class="input_title">もっとフォロー/フォロワー数が少ないアカウントで試してみんしゃい🐱</h1>
         <p class="attention">お試しアカウント↓（勝手に使ってごめんなさい）</p>
        <h1 class="input_title">
            <ul>
                <li>Desi_Engi</li>
                <li>Hinako84925557</li>
            </ul>
        </h1>
    </main>

</body>

</html>

