{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Rnak</title>
    <meta name="description" content="twitterでの相対的に順位を計算するアプリです">
    <meta name="keywords" content="twitter, API, ランキング">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" type="text/css" href="{% static "app/css/style.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <form action="{% url 'index' %}" method="post"　class="form">
        {% csrf_token %}
        {{ form }}
        <p class="btn"><input type="submit" value="click"></p>
    </form>
    
</body>

</html>