{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Rnak</title>
    <meta name="description" content="twitterでの相対的に順位を計算するアプリです">
    <meta name="keywords" content="twitter, API, ランキング">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main id="main_top">
        <h1 class="icon_title"><img src="{% static "app/img/icon_title.png" %}"></h1>
        <p class="sub_title">あなたの順位がわかる</p>
        <h1 class="input_title">screen nameを入力して下さい</h1>
        <p class="attention">@から始まるIDのことです</p>
        <form action="{% url 'info_get' %}" method="post" id="form">
            {% csrf_token %}
            <p class="input">{{ form }}</p>
            <p class="btn"><input class="btn_submit" type="submit" value="click"></p>
        </form>
        <div class="caution">
            <div class="caution-title">＊注意書き＊</div>
            <p>このアプリは入力するユーザーのフォロー・フォロワー数によってロード時間が大きく異なります。場合によっては処理できません。処理できる限界は300~400人程度です。フォロー・フォロワー数がこれ以上のユーザーの処理は現段階では難しいです。さらに、ロード時間が10分以上かかることがあります。これらのことをご理解いただいた上でお使いください。随時改善していきます。</p>
        </div>
        {% comment %} <img src="{% static "app/img/twitter_bird.png" %}" id="bird"> {% endcomment %}
    </main>

    <script>
        var y = 0;
        var x = 0;

        addEventListener("keydown", keydownfunc, false);

        function keydownfunc(event){
            var key_code = event.keyCode;
            if(key_code === 37) x-=32;
            if(key_code === 38) y-=32;
            if(key_code === 39) x+=32;
            if(key_code === 40) y+=32;
            document.getElementById("bird").style.top = y + "px";
            document.getElementById("bird").style.left = x + "px";
        }
    </script>
</body>

</html>

