{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Rnak</title>
    <meta name="description" content="twitterでの相対的に順位を計算するアプリです">
    <meta name="keywords" content="twitter, API, ランキング">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <section id="main_rank">
        <div class="friend_table">
            <p class="friend_title">フォローのフォロワー数の多い順</p>
            <p class="rank">順位：{{ rank_friend_followers }}/{{ friend_followers_dict_sort|length }}</p>
            <table class="table">
                <tr>
                    <th>スクリーンネーム</th>
                    <th>フォロー数</th>
                    <th>フォロワー数</th>
                </tr>
            
                {% for friend_followers_list in friend_followers_dict_sort %}
                    <tr>
                        {% for friend_followers_tuple in friend_followers_list %}
                            {% if forloop.counter　== 2 %}
                                {% for friend_followers_list_in in friend_followers_tuple %}
                                    <td>{{ friend_followers_list_in }}</td>
                                {% endfor %}
                            {% else %}
                                <td>{{ friend_followers_tuple }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor%}
            </table>
        </div>
    </section>
    
</body>

</html>