{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Rnak</title>
    <meta name="description" content="twitterでの相対的に順位を計算するアプリです">
    <meta name="keywords" content="twitter, API, ランキング">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section id="main_select">
        <div class="">
            {% comment %} <p><a href="{% url "rank_friend" %}">フォロー数ランキング</a></p>
            <p><a href="{% url "rank_follower" %}">フォロワー数ランキング</a></p>
            <p><a href="{% url "rank_ratio" %}">フォロワー数/フォロー数の比率ランキング</a></p> {% endcomment %}
            <p><a href="{% url "friend_friend_rank_asc" %}">フォローしている人達のフォロー数の昇順ランキング</a></p>
            <p><a href="{% url "friend_friend_rank_desc" %}">フォローしている人達のフォロー数の降順ランキング</a></p>
            <p><a href="{% url "friend_follower_rank_asc" %}">フォローしている人達のフォロワー数の昇順ランキング</a></p>
            <p><a href="{% url "friend_follower_rank_desc" %}">フォローしている人達のフォロワー数の降順ランキング</a></p>
            <p><a href="{% url "friend_ratio_rank_asc" %}">フォローしている人達の比率の昇順ランキング</a></p>
            <p><a href="{% url "friend_ratio_rank_desc" %}">フォローしている人達の比率の降順ランキング</a></p>
            <p><a href="{% url "follower_friend_rank_asc" %}">フォロワーのフォロー数の昇順ランキング</a></p>
            <p><a href="{% url "follower_friend_rank_desc" %}">フォロワーのフォロー数の降順ランキング</a></p>
            <p><a href="{% url "follower_follower_rank_asc" %}">フォロワーのフォロワー数の昇順ランキング</a></p>
            <p><a href="{% url "follower_follower_rank_desc" %}">フォロワーのフォロワー数の降順ランキング</a></p>
            <p><a href="{% url "follower_ratio_rank_asc" %}">フォロワーの比率の昇順ランキング</a></p>
            <p><a href="{% url "follower_ratio_rank_desc" %}">フォロワーの比率の降順ランキング</a></p>
        </div>
    </section>
</body>

</html>