{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Rnak</title>
    <meta name="description" content="twitterでの相対的に順位を計算するアプリです">
    <meta name="keywords" content="twitter, API, ランキング">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section id="main_select">
        <div class="">
            <p><a href="{% url "rank_friend" %}">フォロー数ランキング</a></p>
            <p><a href="{% url "rank_follower" %}">フォロワー数ランキング</a></p>
            <p><a href="{% url "rank_ratio" %}">フォロワー数/フォロー数の比率ランキング</a></p>
        </div>
    </section>
    
</body>

</html>