{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Rnak</title>
    <meta name="description" content="twitterでの相対的に順位を計算するアプリです">
    <meta name="keywords" content="twitter, API, ランキング">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <section id="main_rank">
        <div class="friend_table">
            <p class="friend_title">ランキング</p>
            <p class="rank">順位：{{ rank }}/{{ my_self_info.friends_count|add:"1" }}</p>

            <table class="table">
                <tr>
                    <th>順位</th>
                    <th>screen_name</th>
                    <th>アイコン</th>
                    <th>フォロー数</th>
                    <th>フォロワー数</th>
                    <th>比率</th>
                </tr>
                {% for item in relation_info %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% comment %} <td>{{ item.followed }}</td> {% endcomment %}
                    {% for ob in item.user_info_set.all %}
                        <td>{{ ob.screen_name.followed }}</td>
                        <td>
                            <a href="https://twitter.com/{{ item.followed }}">
                                <p class="icon"><img src="{{ ob.profile_image_url_https }}"></p>
                                <p>{{ ob.name }}</p>
                            </a>
                        </td>
                        <td>{{ ob.friends_count }}</td>
                        <td>{{ ob.followers_count }}</td>
                        <td>{{ ob.ratio }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>








            {% comment %} <table class="table">
                <tr>
                    <th>順位</th>
                    <th>screen_name</th>
                    <th>アイコン</th>
                    <th>フォロー数</th>
                    <th>フォロワー数</th>
                    <th>比率</th>
                </tr>
                {% for item in user_info %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.screen_name.following }}</td>
                    <td>
                        <a href="https://twitter.com/{{ item.screen_name.following }}">
                            <p class="icon"><img src="{{ item.profile_image_url_https }}"></p>
                            <p>{{ item.name }}</p>
                        </a>
                    </td>
                    <td>{{ item.friends_count }}</td>
                    <td>{{ item.followers_count }}</td>
                    <td>{{ item.ratio }}</td>
                </tr>
                {% endfor %}
            <table> {% endcomment %}

            <table class="table">
                <tr>
                    <th>順位</th>
                    <th>following</th>
                    <th>followed</th>
                </tr>
                {% for item in relation_info %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.following }}</td>
                    <td>{{ item.followed }}</td>
                </tr>
                {% endfor %}
            <table>

            
        </div>
    </section>

</body>

</html>