
@mixin btn($color:#00b5ad) {
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 0.7em;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: $color;
    border: 1px $color solid;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    transition: 0.2s ease;
  }

@mixin btn_hover {
    color: #fff;
    background: #00b5ad;
}

@mixin btn_white {
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 1.0rem;
    color: #00b5ad;
    text-decoration: none;
    user-select: none;
    border: 1px #00b5ad solid;
    border-radius: 20px;
    transition: 0.4s ease;
}

@mixin btn_white_hover {
    color: #fff;
    background: #00b5ad;
}


