@import "compass";
@import url("https://fonts.googleapis.com/css?family=Abel");
@import "top";
@import "select";
@import "result";
@import "hamburger";

$baseColor: #15202b;
$fontColor: #ffffff;


body {
  background-image: -webkit-linear-gradient(left, #f4f4f4 4%, #dfdedc 99%);
  background-image: linear-gradient(to right, #f4f4f4 4%, #dfdedc 99%);
}



