@import "compass";
@import url("https://fonts.googleapis.com/css?family=Abel");
@import "top";
@import "select";

$baseColor: #15202b;
$fontColor: #ffffff;

// body{
//     //background-color: $baseColor;
// }

body {
  background-image: -webkit-linear-gradient(left, #f4f4f4 4%, #dfdedc 99%);
  background-image: linear-gradient(to right, #f4f4f4 4%, #dfdedc 99%);
}

#main_rank {
  font-size: 12px;
  .friend_table {
    width: 98%;
    margin: 0 auto;
    margin-top: 50px;
    .friend_title {
      font-size: 20px;
      text-align: center;
    }
    .rank {
      text-align: center;
      margin-top: 30px;
      font-size: 30px;
      font-weight: bold;
    }
    .table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      margin-top: 50px;
      tr {
        border-bottom: solid 1px #eee;
        cursor: pointer;
        th {
          text-align: center;
          width: 18%;
          padding: 15px 0;
        }
        td {
          text-align: center;
          width: 18%;
          padding: 15px 0;
          .icon {
            img {
              border-radius: 50%;
              border: 1px solid #000;
            }
          }
        }
      }
      tr:hover {
        background-color: #d4f0fd;
      }
    }
  }
}
